{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron text-center">
        <h5>Modifier le profil</h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ asset('uploadPhoto/' ~app.user.photo) }}" alt="photo User">
            </div>
            <div class="col-lg-6">
                {% form_theme updateForm 'bootstrap_5_layout.html.twig' %}
                {{ form_start(updateForm) }}

                {{ form_row(updateForm.pseudo) }}

                {{ form_row(updateForm.firstname) }}

                {{ form_row(updateForm.lastname) }}

                {{ form_row(updateForm.telephone) }}

                {{ form_row(updateForm.email) }}

                {{ form_row(updateForm.plainPassword) }}

                {{ form_row(updateForm.campus) }}<br><br>

                {{ form_row(updateForm.photo) }}
                {{ form_errors(updateForm.photo) }}

                <div class="mt-2 mb-2">
                    <button type="submit" class="btn btn-outline-success ">Modifier</button>
                    <a href="{{ path('delete_profil', {'id':app.user.id}) }}"
                       class="btn btn-danger mt-2" onclick="deleteSortie()">Suprimer le profil</a>
                </div>
                {{ form_end(updateForm) }}
            </div>
        </div>

    </div>

{% endblock %}