{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <p>Nom: {{ app.user.firstname }}</p>
    <p>Prenom: {{ app.user.lastname }}</p>
    <p>Username: {{ app.user.username }}</p>
    <p>Telephone: {{ app.user.telephone }}</p>
    <p>Email: {{ app.user.email }}</p>
    <p>MotDePasse: {{ app.user.password }}</p>
    <p>Campus: {{ app.user.estRattache }}</p>
   {#  <form action="post.php" method="post" enctype="multipart/form-data">
        <input type="file" name="fichier">
    </form>#}
        <button type="submit" class="btn">Register</button>

{% endblock %}
