{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ titleForm }}</h1>
    <img src="{{ asset('public/images/') }}">

    {#  {% form_theme updateForm 'bootstrap_5_layout.html.twig' %}#}
    {% form_theme updateForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(updateForm) }}
    {{ form_widget(updateForm) }}
    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(updateForm) }}
{% endblock %}