{% extends 'base.html.twig' %}

{% block title %}Profil du participant{% endblock %}

{% block body %}
    <h1>{{ app.user.pseudo}}</h1>
    {% for profil %}
    <table>
        <thead>
        <th>firstname</th>
        <th>lastname</th>
        <th>telephone</th>
        <th>email</th>
        <th>campus</th>
        </thead>
        <tbody>
        <p>fisrtname : {{ app.user.firstname }}</p>
        <p>lastname : {{ app.user.lastname }}</p>
        <p>telephone : {{ app.user.telephone }}</p>
        <p>email : {{ app.user.email }}</p>
        <p>campus : {{ app.user.campus }}</p>

        </tbody>
    </table>
    {% endfor %}

{% endblock %}