{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Creer une sortie {% endblock %}

{% block body %}
    <div class="jumbotron bg-primary text-center">
        <h1>Creer la sortie</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}
                {{ form_start(sortieForm) }}

                {{ form_label(sortieForm.nom) }}
                {{ form_widget(sortieForm.nom) }}

                {{ form_label(sortieForm.dateHeureDebut) }}
                {{ form_widget(sortieForm.dateHeureDebut) }}

                {{ form_label(sortieForm.dateLimiteInscription) }}
                {{ form_widget(sortieForm.dateLimiteInscription) }}

                {{ form_label(sortieForm.duree) }}
                {{ form_widget(sortieForm.duree) }}

                {{ form_label(sortieForm.nbInscriptionMax) }}
                {{ form_widget(sortieForm.nbInscriptionMax) }}

                {{ form_label(sortieForm.infosSortie) }}
                {{ form_widget(sortieForm.infosSortie) }}

                {{ form_label(sortieForm.photo) }}
                {{ form_widget(sortieForm.photo) }}
                {{ form_errors(sortieForm.photo) }}


                <button class="btn btn-primary" type="submit">
                    Enregistrer
                </button>
                {{ form_end(sortieForm) }}
            </div>
            <div class="col-lg-6 mt-2">


                {% form_theme lieuForm 'bootstrap_5_layout.html.twig' %}
                {{ form_start(lieuForm) }}

                <label for="campus">Campus :</label>
                <input class="form-control" readonly type="text" id="campus" name="campus" value="{{ campus.nom }}">

                {{ form_label(lieuForm.ville) }}
                {{ form_widget(lieuForm.ville) }}
                <br>

                {{ form_label(lieuForm.nom) }}
                {{ form_widget(lieuForm.nom) }}

                {{ form_label(lieuForm.rue) }}
                {{ form_widget(lieuForm.rue) }}

                {{ form_label(lieuForm.latitude) }}
                {{ form_widget(lieuForm.latitude) }}

                {{ form_label(lieuForm.longitude) }}
                {{ form_widget(lieuForm.longitude) }}

                <button class="btn btn-primary" type="submit">
                    Enregistrer
                </button>

                {{ form_end(lieuForm) }}


            </div>
        </div>

    </div>
{% endblock %}

