{% extends 'base.html.twig' %}

{% block title %}

{{ parent() }} - Afficher une sortie

{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h4>Afficher une sortie</h4>
    </div>

    <div class="container">
        <div class="row">
            {# Premier formulaire d'affichage, comprenant les infos de sortie   #}
            <div class="col-lg-6 mb-3">
                    <form>
                        <h5>Sortie </h5>
                        <label for="nomSortie">Nom de la sortie: </label><input type="text"  class="form-control" id="nomSortie" name="nomSortie" readonly value="{{ sortie.nom }}"><br>
                        <label for="dateSortie">Date et heure de la sortie: </label><input type="text"  class="form-control" id="dateSortie" name="dateSortie" readonly value="{{ sortie.dateHeureDebut | date('d/m/Y H:m')}}"><br>
                        <label for="dateLimiteInscription">Date limite d'inscription: </label><input type="text"  class="form-control" id="dateLimiteInscription" name="dateLimiteInscription" readonly value="{{ sortie.dateLimiteInscription | date('d/m/Y') }}"><br>
                        <label for="nombrePlaces">Nombre de places: </label><input type="text"  class="form-control" id="nombrePlaces" name="nombrePlaces" readonly value="{{ sortie.nbInscriptionMax }}"><br>
                        <label for="duree">Duree: </label><input type="text"  class="form-control" id="duree" name="duree" readonly value="{{ sortie.duree }}"><br>
                        <label for="description">Description et infos: </label><input type="text"  class="form-control" id="description" name="description" readonly value="{{ sortie.infosSortie }}"><br>
                    </form>
            </div>

            {# Deuxieme formulaire d'affichage, comprenant les infos du lieu de la sortie   #}
            <div class="col-lg-6 mb-3">
                    <form>
                        <h5>Lieu </h5>
                        <label for="campus">Campus: </label><input type="text"  class="form-control" id="campus" name="campus" readonly value="{{ campus.nom }}"><br>
                        <label for="lieu">Lieu: </label><input type="text"  class="form-control" id="lieu" name="lieu" readonly value="{{ sortie.lieu.nom }}"><br>
                        <label for="rue">Rue: </label><input type="text"  class="form-control" id="rue" name="rue" readonly value="{{ lieu.rue }}"><br>
                        <label for="codePostal">Code Postal: </label><input type="text"  class="form-control" id="codePostal" name="codePostal" readonly value="{{ lieu.ville.codePostal }}"><br>
                        <label for="latitude">Latitude: </label><input type="text"  class="form-control" id="latitude" name="latitude" readonly value="{{ lieu.latitude }}"><br>
                        <label for="longitude">Longitude: </label><input type="text"  class="form-control" id="longitude" name="longitude" readonly value="{{ lieu.longitude }}"><br>
                    </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{{ asset('uploadPhoto/' ~sortie.photo) }}" alt="photo sortie">
            </div>
        </div>
    </div>
{% endblock %}

