{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Modifier une sortie {% endblock %}

{% block body %}
    <div class="jumbotron bg-primary text-center">
        <h1>Modifier la sortie</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}
                {{ form_start(sortieForm) }}

                {{ form_row(sortieForm.nom) }}

                {{ form_row(sortieForm.dateHeureDebut) }}

                {{ form_row(sortieForm.dateLimiteInscription) }}

                {{ form_row(sortieForm.duree) }}

                {{ form_row(sortieForm.nbInscriptionMax) }}

                {{ form_row(sortieForm.infosSortie) }}

                {{ form_row(sortieForm.photo) }}
                {{ form_errors(sortieForm.photo) }}
            </div>
            <div class="col-lg-6">
                <label class="campus">Campus: </label><input type="text"  class="form-control" id="campus" name="Campus" readonly value="{{ campus.nom }}"><br>

                {{ form_row(sortieForm.ville) }}

            </div>
        </div>
        <div class="row">
            <div class="mt-2 mb-2">
                <button type="submit" class="btn btn-outline-success ">Modifier</button>
                <a href="{{ path('delete_sortie', {'id':sortie.id}) }}"  class="btn btn-danger mt-2" onclick="deleteSortie()">Suprimer la sortie</a>
                <a href="{{ path('main_home', {'id': app.user.id}) }}" class="btn btn-danger mt-2"  >Annuler</a>
            </div>

            {{ form_end(sortieForm) }}
        </div>
    </div>


{% endblock %}

