<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sorties{% endblock %}</title>
        {# le css #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.b532f9c4.css') }}"/>
        {% endblock %}
    </head>
    <body>
        {# contenu du haut-de-page#}
        <header>
            <div class="container">
                <div class="header-top">
                    <h1 class="header-logo">
                        <img src="{{ asset('img/logo_sortir.png') }}" alt="Logo sortir.com">SORTIR.COM
                    </h1>
                    <nav class="user-nav">
                        <ul>
                            {# afficher ville et campus si l'utilisateur a un role d'admin, sinon il est caché #}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{# ville path #}" title="Ville">Ville</a>
                                <a href="{# campus path #}" title="Campus">Campus</a>
                            {% endif %}
                            {# si l'utilisateur est connecté, alors seule le bouton Accueil, mon profil et se deconnecter
                             seront afficher dans la barre de nav, sinon, le bouton s'inscrire et se connecter apparaitrons #}
                            {% if app.user %}
                                <a href="{{ path("sortie_accueil") }}" title="Accueil">Accueil</a>
                                <a href="{{ path('sortie_profile') }}" title="Mon Profil">Mon profil</a>
                                <a href="{{ path('app_logout') }}" title="Logout">Se deconnecter</a>
                            {% else %}
                                <a href="{{ path('app_register') }}" title="Create your account">S'inscrire</a>
                                <a href="{{ path('app_login') }}" title="Login">Se connecter</a>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# contenu du corps de page #}
        <main>
        {% block body %}{% endblock %}
        </main>

        {# contenu bas de page #}
        <footer>

        </footer>
    </body>
</html>
